.header {
    background-color: black;
    color: white;
}

.logo {
    width: 25%;
}

.navBarSection {
    /* justify-content: right; */
    font-size: 20px;
}

.navBarList {
    display: inline-flex;  /* learn differences to fix links */
}

.navBarLinks {
    list-style-type: none;
    float: right;
    padding: 0 15px 0 15px;
    border: 2px solid white;
    border-radius: 5px;
}

