
/* navbar section  */


.container-fluid {
    padding: 3% 15%;
}

#navigationBar {
    background-color: black;
}

.logo {
    width: 50%;
    float: left;
}



.navBarSection {
    font-size: 20px;
}

.navBarList {
    display: inline-flex;  /* learn differences to fix links */
}

.navBarLinks {
    list-style-type: none;
    float: right;
    padding: 0 15px 0 15px;
    
}

/* venue section  */

#venues {
    padding: 7% 15%;
    background-color: black;
    text-align: center;
}

.venueLogo {
    height: 200px;
    width: 25%;
}

.rowVenue {
    height: 400px;
    background-color: black;
}

.qowRow {
    background-color: lightgray;
}